.header-room-devices-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon-size {
  font-size: 32px;
}

ion-avatar {
  --border-radius: 4px;
}

ion-col {
  color: #fff;
  text-align: center;
  height: 50px;
  margin-top: 8px;
}

.ion-col-image {
  width: 90px;
  height: 90px;
  margin-top: -12px;
  margin-right: -45px;
}

.ion-row-layout {
  height: 60px;
}

.ion-card-size {
  height: 175px;
  width: 152px;
}

.icon-color {
  color: black
}

.ion-text-align {
  text-align: left;
}

.ion-title-layout {
  margin-top: 27px;
}

.ion-col {
  margin-bottom: 8px;
}


