<ion-content class="no-scroll">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="./assets/shapes.svg" />
        <h2>Welcome</h2>
        <p>
          Manage your home bby using your phone everywhere!
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/shapes.svg" />
      <h2>What is Daily Dev Tips?</h2>
      <p>
        Link your home by plugging them and connect to Wi-Fi!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/shapes.svg" />
      <h2>Why do you do it?</h2>
      <p>Instant notification of you about any incident.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/shapes.svg" />
      <h2>Ready for it?</h2>
      <ion-button fill="clear" routerLink="/tabs/tab1" style="color: red"
        >Yes, let's go <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
