.icon-size {
  font-size: 64px;
}

.card-box-shadow {
  box-shadow: 3px 2px 8px -1px rgba(0,0,0,0.75);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-layout {
  height: 90px;
}

ion-button {
  color: #EC3D3D;
}

.text-decoration {
  text-decoration: underline;
  text-decoration-color: red;
}

.header-room-devices-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon-size {
  font-size: 32px;
}

ion-avatar {
  --border-radius: 4px;
}

.ion-col-image {
  width: 90px;
  height: 90px;
  margin-top: -12px;
  margin-right: -45px;
}

.ion-row-layout {
  height: 60px;
}

.ion-title-size {
  width: 113px;
}

