<ion-header collapse="fade" class="header-size header-color" [translucent]="true">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center ion-row-layout">
      <ion-col class="ion-col-title-icon">
        <a href="/tabs/tab1"><ion-icon name="arrow-back-outline" class="icon-size"></ion-icon></a>
      </ion-col>
      <ion-col size="8" class="ion-col-title">
        <ion-title class="ion-title-size">
          Kitchen
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-grid class="ion-grid-layout">
      <ion-row>
        <ion-col>
          <ion-button fill="clear" (click)="clickLights()"><ion-icon name="flashlight-outline" class="icon-size"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="clickTemp()"><ion-icon name="thermometer-outline" class="icon-size"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="clickFans()"><ion-icon name="nuclear-outline" class="icon-size"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="clickBlinds()"><ion-icon name="sunny-outline" class="icon-size"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <app-lights [hidden]="!lights"></app-lights>
  <app-temp [hidden]="!temp"></app-temp>
  <app-fans [hidden]="!fans"></app-fans>
  <app-blinds [hidden]="!blinds"></app-blinds>

</ion-content>


