.icon-size {
  font-size: 64px;
}

.card-box-shadow {
  box-shadow: 3px 2px 8px -1px rgba(0,0,0,0.75);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-layout {
  height: 90px;
}

ion-button {
  color: #EC3D3D;
}

.text-decoration {
  text-decoration: underline;
  text-decoration-color: red;
}

.header-room-devices-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon-size {
  font-size: 32px;
}

.ion-row-layout {
  height: 60px;
}

.ion-title-size {
  width: 113px;
}

.ion-col-title {
  height: 35px;
  margin-top: 8px;
}

.ion-col-title-icon {
  height: 35px;
  margin-top: 3px;
}

a {
  color: white;
}

.ion-grid-layout {
  color: white;
  text-align: center;
}

.header-size {
  height: 150px;
}
.header-color {
    background-color: #092A3C;
}
