<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button (click)="clickLogin()" class="ion-button-color" fill="outline">Login</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="clickRegister()" class="ion-button-color" fill="outline">Register</ion-button>
    </ion-col>
  </ion-row>
  <ion-content class="ion-padding">
      <app-login [hidden]="!login"></app-login>
      <app-register [hidden]="!register"></app-register>
  </ion-content>
</ion-content>
