.margin-text {
  margin-top: 195px;
  margin-left: 15px;
  color: gray;
}

.header-layout {
  height: 60px;
}

.header-room-devices-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
