<ion-header collapse="fade" class="header-color" [translucent]="true">
  <ion-grid class="ion-text-center header-layout">
    <ion-row>
      <ion-col class="title-layout text-star" push-sm="6">
        <h3>Home</h3></ion-col>
      <ion-col pull-sm="6">
        <ion-avatar class="avatar-layout">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="header-rooms-layout">
    <ion-row class="rooms-layout">
      <ion-col size="3"><ion-button class="button-color">DEVICES</ion-button></ion-col>
      <ion-col size="3"><ion-button [routerLink]="['/tabs/tab2']">ROMMS</ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-header>
<ion-content [fullscreen]="true">

</ion-content>
