<ion-header collapse="fade" class="header-color" [translucent]="true">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-between ion-row-layout">
      <ion-col size="4">
        <ion-title class="">
          Home
        </ion-title>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-col-image">
        <ion-avatar class="test">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h4 class="header-room-devices-text">My Devices</h4>

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-card color="dark" class="card-box-shadow ion-card-size">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="beer-outline" class="icon-size icon-color"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-toggle color="medium" [checked]="false"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-title><h5><b><a routerLink="/lights">Kitchen Lights</a></b></h5></ion-card-title>
        <ion-card-content>
          <h6 class="ion-text-align"><b>Desligado</b></h6>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card color="dark" class="card-box-shadow ion-card-size">
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-icon name="bed-outline" class="icon-size icon-color"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-toggle color="medium" [checked]="false"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-title><h5><b><a routerLink="/lights">Bedroom Lights</a></b></h5></ion-card-title>
        <ion-card-content>
          <h6 class="ion-text-align"><b>Desligado</b></h6>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="moon-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="person-outline" class="icons-color" (click)="openModal()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/romms">
        <ion-icon name="layers-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/devices">
        <ion-icon name="desktop-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
