<ion-header collapse="fade" class="header-color" [translucent]="true">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-between ion-row-layout">
      <ion-col size="4">
        <ion-title class="">
          Home
        </ion-title>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-col-image">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h4 class="header-room-devices-text">My Rooms</h4>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-grid-layout">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title><a href="/kitchen"><ion-icon name="beer-outline" class="icon-size"></ion-icon></a></ion-card-title>
            <ion-card-subtitle><h5>Kitchen</h5></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="ion-grid-layout">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title><a href="/bedroom"><ion-icon name="bed-outline" class="icon-size"></ion-icon></a></ion-card-title>
            <ion-card-subtitle><h5>Bedroom</h5></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-grid-layout">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title><h5>Add Room</h5></ion-card-title>
            <ion-button fill="outline" color="danger" shape="round" routerLink="/romms">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="moon-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="person-outline" class="icons-color" (click)="openModal()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/romms">
        <ion-icon name="layers-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/devices">
        <ion-icon name="desktop-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
