.header-layout {
  height: 85px;
}

.title-layout {
  margin-left: -12px;
}

.avatar-layout {
  margin-top: 7px;
  margin-left: 153px;
}

.header-rooms-layout {
  height: 70px;
}

.header-color {
  background-color: #092A3C;
}

.rooms-layout {
  text-align: center;
  margin-top: 2px;
  width: 250px;
}

ion-button {
  --ion-color-primary: trasparent;
  --ion-color-primary-shade: trasparent;
  color: gray
}

ion-button:active {
  color: white;
}

h5 {
  font-weight: bold;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

.header-room-devices-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon-size {
  font-size: 32px;
}

ion-avatar {
  --border-radius: 4px;
}

ion-col {
  color: #fff;
  text-align: center;
  height: 50px;
  margin-top: 8px;
  width: 50px;
}

.ion-col-image {
  width: 90px;
  height: 90px;
  margin-top: -12px;
  margin-right: -45px;
}

.ion-row-layout {
  height: 60px;
}
