<ion-header collapse="fade" class="header-color" [translucent]="true">
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-between ion-row-layout">
      <ion-col size="4">
        <ion-title class="title-layout">
          Routines
        </ion-title>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-col-image">
        <ion-avatar class="test">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
