.button-color {
  color: white;
}

.header-layout {
  height: 85px;
}

.title-layout {
  height: 50px;
  margin-top: 5px;
  margin-left: -50px;
}

.avatar-layout {
  margin-top: 7px;
  margin-left: 153px;
}

.header-rooms-layout {
  height: 70px;
}

.header-color {
  background-color: #092A3C;
}

.rooms-layout {
  text-align: center;
  margin-top: 2px;
  width: 250px;
}

ion-button {
  --ion-color-primary: trasparent;
  --ion-color-primary-shade: trasparent;
  color: gray
}

ion-button:active {
  color: white;
}

h5 {
  font-weight: bold;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}
