<ion-header collapse="fade" class="header-color" [translucent]="true">
  <ion-grid class="ion-text-center header-layout">
    <ion-row>
      <ion-col class="title-layout text-star" push-sm="6">
        <h2>Devices</h2></ion-col>
      <ion-col pull-sm="6">
        <ion-avatar class="avatar-layout">
          <img alt="Silhouette of a person's head" src="https://www.svgrepo.com/show/61986/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="moon-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/tabs/tab1">
        <ion-icon name="home-outline" class="icons-color"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

